@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{margin: 0px;}
html{scroll-behavior: smooth;}
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
}
header{
    background-color: #ff0000;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: solid 1px white;
    position: fixed;
    text-align: center;
}
header img{
    border-radius: 50%;
}
header h2{
    padding-top: 1rem;
    font-size: 20px;
}
header #redes{
    display: flex;
    flex-direction: row;
}
nav ul{
    flex-direction: column;
    padding-top: 2rem;
}
nav ul li{
    list-style: none;
    padding: 7px 0px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 7px 0px;
}
nav ul li a:hover{
    background-color: black;
    border-radius: 20px;
    transition: 1s;
}
main{
    padding-left: 20%;
    margin: 30px 20px;
    width: 100%;
}
main dl{padding-left: 10px;}
section{
    margin-bottom: 60px;
    height: 100%;
}
main h2{
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
}

#skills dd{
    margin-bottom: 1rem;
}

@media screen {
    
}